.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
    color: #dc3545; /* Color rojo para el título */
  }
  
  .message {
    font-size: 1.5rem;
    color: #6c757d; /* Color gris para el mensaje */
  }

  .homeButton {
    width: 10%;
    padding: 10px;
    margin: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #050505;
    background-color: #4cfaa9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.homeButton:hover:not(:disabled) {
    background-color: #2f9b69;
}
